rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Only allow reads publicly
    // Only allow writes to authenticated users (admin)
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
